* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --color_cert: #66c706;
    --color_error: #e93e3e;
    --color_upgrade: #58b2db;
    --color_default: #fff;
    --color_body: #d8d6d6;
}

body {
    background-color: var(--color_body);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

#container {
    background-color: var(--color_default);
    width: 95%;
    max-width: 500px;
    padding: 1.3rem;
    border-radius: 3px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.288);
    position: relative;
    overflow: hidden;
}

#container > #task_title {
    background-color: #6968683b;
    margin: -1.3rem -1.3rem 0 -1.3rem;
    padding-bottom: 1.1rem;
}

#container > #task_title > div {
    padding: 1rem 1rem 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#container > #task_title > div > time {
    font-weight: bold;
    color: var(--color_upgrade);
    font-size: 1.5rem;
}

#container > #task_title > div > span > span {
    font-weight: bold;
    color: rgb(173, 172, 172);
}

#container > #task_title > div strong {
    font-weight: bold;
    color: rgb(94, 93, 93);
}

#container > #task_title > span {
    margin: 0 0 1.1rem 1.1rem;
    font-weight: bold;
    color: rgb(173, 172, 172);
}

/**/

#container > #tasks {
    margin: 1.5rem 0;
}

#container > #tasks > .task {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#container > #tasks > .task > span {
    display: flex;
    width: 78%;
    overflow: hidden;
    margin-bottom: 0.8rem;
} 

#container > #tasks > .task > #icons {
    display: flex;
    gap: 0.6rem;
    z-index: 2;
} 

#container > #tasks > .task > #icons > .fa-circle {
    color: var(--color_body);
    cursor: pointer;
    display: block;
}

#container > #tasks > .task > #icons > .fa-circle-check {
    color: var(--color_cert);
    cursor: pointer;
    display: none;
}

#container > #tasks > .task > #icons > .fa-pen {
    color: var(--color_upgrade);
    cursor: pointer;
}

#container > #tasks > .task > #icons > .fa-trash-can {
    color: var(--color_error);
    cursor: pointer;
}

/**/


#container > .task_input {
    background-color: var(--color_default);
    padding: 1.2rem;
    box-shadow: 0 1px 4px black;
    border-radius: 10px;
    width: 95%;
    margin: auto;
    position: absolute;
    left: 2.5%;
    bottom: -100%;
    z-index: 22;
    transition: all 1s;
}

#container > #task_input > span {
    display: block;
    font-weight: bold;
    color: rgb(44, 43, 43);
    font-size: 1rem;
    margin-bottom: 10px;
}

#container > #task_input > form > input {
    width: 100%;
    padding: 0.4rem;
    border: 2px solid gray;
    border-radius: 6px;
    outline: var(--color_upgrade);
    text-indent: 0.3rem;
    margin-bottom: 0.8rem;
}

#container > #task_input > form > button {
    border: none;
    background-color: var(--color_default);
    color: var(--color_upgrade);
    font-weight: bold;
    cursor: pointer;
    font-size: 1rem;
}

/**/

#container > #add {
    background-color: var(--color_cert);
    color: var(--color_default);
    height: 3.4rem;
    width: 3.4rem;
    border-radius: 50%;
    z-index: 2222;
    position: absolute;
    font-size: 3rem;
    cursor: pointer;

    left: 44%;
}

#container > #add > span {
    position: relative;
    top: -16%;
    left: 15%;
}